# Retention
weekly={{ mydumper_retention_weekly | quote }}
daily={{ mydumper_retention_daily | quote }}

###### email alerts
email="{{ mydumper_notification_email | quote }}"

# General settings for wrapper
lockFile="/var/lock/mydumper-pull.lock"

errorFile="{{ mydumper_log_directory }}/mydumper.err"
mysqlUser={{ mydumper_backup_user | quote }}
mysqlPassword={{ mydumper_backup_password | quote }}
mysqlPort=3306
remoteHost={{ mydumper_backup_host | quote }}
backupPath="{{ mydumper_backup_path }}/$(date +%Y%m%d)/"
numberThreads={{ mydumper_threads }}
limitRows={{ mydumper_limit_rows }}

remoteHost={{ mydumper_backup_host | quote }}
backupPath="{{ mydumper_backup_path }}/$(date +{{ mydumper_backup_date_parameters }})/"
logFile="{{ mydumper_log_directory }}/mydumper.log"

# History is not required for the backups to work, but it is convenient to run your monitoring against.
mydumper_history_enabled={{ mydumper_history_enabled | quote }}
mydumper_history_host={{ mydumper_history_host | quote }}
mydumper_history_user={{ mydumper_history_user | quote }}
mydumper_history_password={{ mydumper_history_password | quote }}
mydumper_history_schema={{ mydumper_history_schema | quote }}
